.colorbox{
background-color:lightblue;
padding:40px;
margin:20px;
}

.gradientbox{
background:linear-gradient(red,yellow);
padding:40px;
margin:20px;
}

.imagebox{
background-image:url("../images/backgrounds/bg.jpg");
background-size:cover;
height:200px;
color:white;
padding:40px;
}